/* Variables */
.progress {
  --track-progress: linear-gradient(90deg,currentColor var(--seek-value, 0), transparent var(--seek-value, 0));
}

.progress-md {
    --track-height: 0.5rem;
    --thumb-size: 2rem;
    --thumb-offset: -0.9rem;
}

.progress-sm {
  --track-height: 0.4rem;
  --thumb-size: 1rem;
  --thumb-offset: -0.3rem;
}

/* Resets */
.progress {
  /* Hides the slider so that custom slider can be made */
  -webkit-appearance: none;
  /* Specific width is required for Firefox. */
  width: 100%;
  /* Otherwise white in Chrome */
  background: transparent;
  background: 0 0;
  border: none;
  padding: 0;
  margin: 0;
  color: var(--color-text-primary);
}
  
.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.progress:focus {
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  outline: none;
}

.progress::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* Styling */

/* Thumb */
.progress::-webkit-slider-thumb {
  appearance: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  margin-top: var(--thumb-offset);
  box-shadow: 1px 1px rgba(0,0,0,.15), 0 0 0 1px rgba(35,41,47,.2);
  transition: all .2s ease;
}

.progress::-moz-range-thumb {
  appearance: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px rgba(0,0,0,.15), 0 0 0 1px rgba(35,41,47,.2);
  transition: all .2s ease;
}
  
.progress:active::-webkit-slider-thumb, .progress:active::-moz-range-thumb {
  box-shadow: 0 1px 1px rgba(0,0,0,.15), 0 0 0 1px rgba(35,41,47,.2), 0 0 0 3px rgba(0,0,0,.1);
}


/* Track */
.progress::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--track-height);
  cursor: pointer;
  background-color: rgba(0,0,0,.1);
  border-radius: 0.5rem;
  transition: box-shadow .3s ease,-webkit-box-shadow .3s ease;
  background-image: var(--track-progress);
}  
.progress::-moz-range-track {
  height: var(--track-height);
  cursor: pointer;
  background-color: rgba(0,0,0,.1);
  border-radius: 0.5rem;
  transition: box-shadow .3s ease,-webkit-box-shadow .3s ease;
  background-image: var(--track-progress);
}

.progress::-ms-track {
  height: var(--track-height);
  cursor: pointer;
  background-color: rgba(0,0,0,.1);
  border-radius: 0.5rem;
  transition: box-shadow .3s ease,-webkit-box-shadow .3s ease;
  background-image: var(--track-progress);
}