.episode-cover-container {
    width: 100%;
    background-color: white;
}

.default-cover {
    width: 100%;
    background-color: var(--color-primary);
}

.episode-cover {
    width: 50%;
    margin: 0 auto;
}

.attribution {
    display: flex;
    justify-content: flex-end;
    color: var(--color-text-tertiary);
    font-style: italic;
    font-size: var(--font-size-small);
}

.attribution > a {
    color: var(--color-text-secondary);
}