.bio {
    display: grid;
    margin: var(--space-md) 0;
    grid-row-gap: var(--space-sm);
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-areas: 
    '. image .'
    'text text text';
}

@media screen and (min-width: 768px) {
    .bio {
        grid-template-columns: 1fr 3fr;
        grid-column-gap: var(--space-md);
        grid-template-areas:
            'image text'
    }
}

.titleBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bioTitle {
    text-transform: uppercase;
}

.titleBar > * {
    margin-bottom: 0;
}

.imageContainer {
    grid-area: image;
    display: flex;
    align-items: center;
    min-width: 100px;
}

.textContainer {
    grid-area: text;
}

.bioText {
    color: var(--color-text-secondary);
}