.page-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-layout main {
    flex: 1 1 auto;
    padding-bottom: var(--space-xl);
}

.footer {
    padding: var(--space-md);
    text-align: right;
    font-size: var(--font-size-smallest);
    font-family: var(--font-family-heading);
}