.episode-container {
    margin: var(--space-xl) auto;  
    display: flex;  
}

.cover-container {
    flex: 1;
}

.episode-info {
    flex: 1;
}

.divider {
    font-size: var(--font-size-jumbo);
}

.meta {
    color: var(--color-text-secondary);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-small);
}

.date {
    margin-right: var(--space-sm);
}

.player-container {
    margin: var(--space-lg) 0;
}

.description {
    font-size: var(--font-size-large);
}