:root {
    /* Spacing */
    --space-xxs:  .4rem;
    --space-xs:   .8rem;
    --space-sm:   1.2rem;
    --space-md:   1.6rem;
    --space-lg:   2rem;
    --space-xl:   3rem;
    --space-xxl:  4rem;
    
    /* Font sizes */
    --font-size-smallest: 1rem;
    --font-size-small: 1.28rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 2rem;
    --font-size-larger: 2.5rem;
    --font-size-largest: 3.13rem;
    --font-size-jumbo: 3.91rem;
    --font-size-mega: 4.88rem;
    --font-size-ultra: 6.1rem;

    /* Typography */
    --font-family-heading: Montserrat;
    --font-family-body: Lora;
    --font-weight-heading: 600;
    --font-weight-body: 400;

    /* Colors */
    --color-text-primary: rgba(0,0,0,0.87);
    --color-text-secondary: rgba(0,0,0,.54);
    --color-text-tertiary: rgba(0,0,0,.20);
    --color-snow: #f9fafb;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
}

body {
    color: var(--color-text-primary);
    background-color: var(--color-snow);
    font-family: var(--font-family-body);
    font-size: var(--font-size-medium);
    line-height: 1.7;
    font-weight: var(--font-weight-body);
    font-style: normal;
    letter-spacing: 0em;
}

/* Headings */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .page-heading, .section-heading, .paragraph-heading {
    font-family: var(--font-family-heading);
    letter-spacing: 0rem;
    font-weight: var(--font-weight-heading);
    font-style: normal;

}
h1, .h1 {
    font-size: var(--font-size-ultra);
    line-height: 9rem;
    margin-bottom: var(--space-xl);
}
h2, .h2, .page-heading {
    font-size: var(--font-size-mega);
    line-height: 6rem;
    margin-bottom: var(--space-xl);
}
h3, .h3 {
    font-size: var(--font-size-jumbo);
    line-height: 6rem;
    margin-bottom: var(--space-lg);
}
h4, .h4, .section-heading {
    font-size: var(--font-size-largest);
    line-height: 6rem;
    margin-bottom: var(--space-md);
}
h5, .h5 {
    font-size: var(--font-size-larger);
    line-height: 3rem;
    margin-bottom: var(--space-sm);
}
h6, .h6, .paragraph-heading {
    font-size: var(--font-size-large);
    line-height: 3rem;
    margin-bottom: var(--space-xs);
}
p, .body-text {
    margin-bottom: var(--space-lg);
}
img {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

/* Spacing */
.inset-none {
    padding: 0;
}
.inset-xs {
    padding: var(--space-xs);
}
.inset-sm {
    padding: var(--space-sm);
}
.inset-md {
    padding: var(--space-md);
}
.inset-lg {
    padding: var(--space-lg);
}
.inset-xl {
    padding: var(--space-xl);
}