.audio-player {
    margin: var(--space-lg) 0;
}

.player-container {
    display: flex;
    width: 100%;
}

.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    margin-left: var(--space-lg);
    width: 100%;
}

.upper-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.lower-controls {
    display: flex;
    justify-content: flex-end;
}

.time {
    font-size: var(--font-size-smallest);
    font-family: var(--font-family-heading);
}
