.current-episode-heading {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .current-episode-heading {
        margin-bottom: var(--space-lg);
    }

    .episode-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
