.platformList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: var(--space-lg);
}

@media screen and (min-width: 768px) {
    .platformList {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}