.header {
    margin-bottom: var(--space-xl);
}

.description {
    color: var(--color-text-secondary);
    text-align: center;
    font-size: 2.2rem;
}

.logoContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navContainer {
    /* grid-area: nav; */
}