.title {
    text-align: center;
}

.meta {
    display: flex;
    color: var(--color-text-secondary);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-medium);
}

.meta > span {
    /* display: inline-block; */
    margin-right: var(--space-md);
}